<div class="row">
  <div class="col-md-12">
    <h1>All Categories</h1>
    <p class="text-muted">Browse posts by category</p>
    
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= category.name %></h5>
              <p class="card-text">
                <%= pluralize(category.posts.count, 'post') %>
              </p>
              <%= link_to "View Posts", category_path(category), class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
